@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@1,600&display=swap");

.image {
  position: absolute;
  width: 100%;
  object-fit: cover;
}

.over_image {
  position: relative;
  color: #ffffff;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
}

h1 {
  font-family: "Poppins", sans-serif;
  color: #ffffff;
  font-size: 4vw;
}
h3 {
  margin-top: 4vw;
  font-size: 2vw;
  color: #f6f6f6;
}

h4 {
  margin-top: 3vw;
  font-size: 2vw;
  color: #f7f7f7;
  font-weight: 500;
}

button {
  margin-top: 2em;
  padding: 2vh 0;
  width: 15vw;
  font-size: 1.5vw;

  background: transparent;
  border-radius: 20px;

  /* Inside auto layout */

  flex: none;
  order: 0;
  flex-grow: 0;
  color: #ffffff;
}

.background {
  background: #fa4a0c;
  box-shadow: 0px 10px 30px rgba(183, 50, 39, 0.2);
  margin-right: 2rem;
}

.phonesimages {
  position: absolute;
  left: 2vw;
  right: 0;
  margin: auto;
  margin-top: 2vw;
  width: 50%;
}

.hr_abs {
  position: absolute;
  width: 50%;
  right: 0;
  margin: auto;
  left: 3vw;
  top: 110vw;
  color: #E4E4E4;
}

/* media queries */
@media only screen and (max-width:414px){
  .image{
    display: none;
  }
  .over_image h3{
    color: #737373;
  }
  .over_image h1{
    color: #252B42;
  }
  .over_image h4{
    color:#737373;
  }
  .Buttons{
    display: flex;
    flex-direction: column;
  }
  button{
    font-size: 2vw;
    width: 25vw!important;
  }
  .t-color{
    color:#fa4a0c;
  }
  .hr_abs{
    width: 80vw;
    margin-top: 5vw;
  }
} 